[Unit]
Description=NGCP RTP/media Proxy Daemon
After=network-online.target

[Service]
Type=forking
User=root
Group=daemon
Environment=CFGFILE=/etc/rtpengine/rtpengine.conf
EnvironmentFile=/etc/sysconfig/rtpengine
Environment=CFGFILE=/etc/rtpengine/rtpengine.conf
PIDFile=/run/rtpengine.pid
ExecStart=/usr/sbin/rtpengine --no-log-timestamps --config-file=${CFGFILE} --pidfile=/run/rtpengine.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
