[Unit]
Description=NGCP RtpEngine - RTP Recording Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=root
Group=daemon
Environment=CFGFILE=/etc/rtpengine/rtpengine-recording.conf
EnvironmentFile=/etc/sysconfig/rtpengine-recording
PIDFile=/run/rtpengine-recording.pid
ExecStart=/usr/sbin/rtpengine-recording --config-file=${CFGFILE} --pidfile=/run/rtpengine-recording.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
